<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="cancelModal()" class="bf-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Breastfeeding History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="hasToday">
    <div class="divider-title"> Today </div>

    <ul class="timeline">
      <li *ngFor="let x of todayHistoryArray">
        <div >
          <p class="timeline-item"> {{x}}</p>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="hasYesterday">
    <div class="divider-title"> Yesterday </div>
    <ul class="timeline">
      <li *ngFor="let x of yesterdayHistoryArray">
        <div>
          <p class="timeline-item"> {{x}}</p>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="hasLastWeek">
    <div class="divider-title"> Last 7 days </div>
    <ul class="timeline">
      <li *ngFor="let x of lastweekHistoryArray">
        <div>
          <p class="timeline-item"> {{x}}</p>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="hasLastMonth">
    <div class="divider-title"> Last 30 days </div>
    <ul class="timeline">
      <li *ngFor="let x of lastMonthHistoryArray">
        <div>
          <p class="timeline-item"> {{x}}</p>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="hasMore">
    <div class="divider-title"> This Year </div>
    <ul class="timeline">
      <li *ngFor="let x of moreHistoryArray">
        <div>
          <p class="timeline-item"> {{x}}</p>
        </div>
      </li>
    </ul>
  </div>

</ion-content>
