<ion-header>
  <ion-navbar no-border-bottom color="navbarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Diapering </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="box">
    <ion-row>
      <ion-col width-25>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" min="2015" [(ngModel)]="diaper.date" name="date"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col width-25>
        <ion-item>
          <ion-label color="gray!important">Note:</ion-label>
          <p item-right (click)="noteAlert()">
            <ion-icon name="clipboard"></ion-icon>
            <ion-icon *ngIf="diaperNote" color="green" name="checkmark"></ion-icon>
          </p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25>
        <ion-item>
          <ion-label>Type:</ion-label>
          <ion-select [(ngModel)]="diaper.type" name="type" interface="popover">
            <ion-option selected="true" value="pee">Pee</ion-option>
            <ion-option value="poo">Poo</ion-option>
            <ion-option value="mixed">Mixed</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col width-25>
        <div class="right-align">
          <button class="timer" ion-button type="submit" icon-only (click)="saveDiapering()">
            <ion-icon  name='archive'></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <!-- Summary -->
  <p class="center"  *ngIf="lastDiapering;else none">
    <i class="momentsAgo"><b>Last Daipering: about {{DiaperingMomentsAgo}}</b></i>
    <br>
    <i> {{lastDiapering}}, {{lastDiaperType}}</i>
    <br>
  </p>
  <ng-template #none>
    <p class="center">
      <i>Last Daipering: No records of diapering yet! </i>
    </p>
  </ng-template>

  <div class="diapering-summary">
    <div *ngIf="hasToday">
      <div class="divider-title"> Today </div>

      <ul class="timeline">
        <li *ngFor="let x of todayHistoryArray">
          <div >
            <p class="timeline-item"> {{x}}</p>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="hasYesterday">
      <div class="divider-title"> Yesterday </div>
      <ul class="timeline">
        <li *ngFor="let x of yesterdayHistoryArray">
          <div>
            <p class="timeline-item"> {{x}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="hasMore">
    <ion-item-group *ngFor="let x of moreHistoryArray | groupby: 'date'">
      <div  class="divider-title">
        {{ x.key | moment:'ll' }}
      </div>
      <ul class="timeline">
        <li *ngFor="let event of x.list">
          <div>
            <p class="timeline-item"> {{event.output}} </p>
          </div>
        </li>
      </ul>
    </ion-item-group>
  </div>

  <ion-fab bottom right>
    <button ion-fab class="center-fab" (click)="manuallyAddDiaper()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
