<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!edit">Manually Add Breastfeed</ion-title>
    <ion-title *ngIf="edit">Edit Bottlefeed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="list-form" (ngSubmit)="manualAddBreast()">
    <ion-list>

      <ion-item>
        <ion-label>Breast:</ion-label>
        <ion-select [(ngModel)]="breastFeed.breast" name="breast" interface="popover">
          <ion-option value="left">Left</ion-option>
          <ion-option value="right">Right</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Date:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2015" [(ngModel)]="breastFeed.date" name="date"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Time:</ion-label>
        <ion-datetime displayFormat="hh:mm:ss A" [(ngModel)]="breastFeed.time" name="time"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Duration:</ion-label>
        <ion-datetime displayFormat="mm:ss" [(ngModel)]="breastFeed.duration" name="duration"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label color="gray!important">Notes</ion-label>
          <p item-right (click)="noteAlert()">
            <ion-icon name="clipboard"></ion-icon>
            <ion-icon *ngIf="breastFeedNote" color="green" name="checkmark"></ion-icon>
          </p>
      </ion-item>

    </ion-list>
    <button *ngIf="!edit" ion-button class="baby-button" type="submit">Add</button>
    <button *ngIf="edit" ion-button class="baby-button" type="submit">Save</button>
  </form>
  <button ion-button class="baby-button" (click)="cancelModal()">Cancel</button>

</ion-content>
