<ion-header>

  <ion-navbar>
    <ion-title>Manually Add Breastfeed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form novalidate class="list-form" (ngSubmit)="manualAddBreast()" [formGroup]="breastForm">
    <ion-list>

      <ion-item>
        <ion-label>Breast</ion-label>
        <ion-select [(ngModel)]="breast" formControlName="breast" interface="popover">
          <ion-option value="left">Left</ion-option>
          <ion-option value="right">Right</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="today" formControlName="date"></ion-datetime>
      </ion-item>
      <!-- checking for errors for date-->
      <ion-item no-lines *ngIf="breastForm.get('date').hasError('required')
        && breastForm.get('date').touched">
        <div class="error">
          Date is required.
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="hh:mm:ss A" [(ngModel)]="timeNow" formControlName="time"></ion-datetime>
      </ion-item>
      <!-- checking for errors for time -->
      <ion-item no-lines *ngIf="breastForm.get('time').hasError('required')
        && breastForm.get('time').touched">
        <div class="error">
          Time is required.
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Duration (mins : secs)</ion-label>
        <ion-datetime displayFormat="mm:ss" placeholder="DUDE" [(ngModel)]="zeros" formControlName="duration"></ion-datetime>
      </ion-item>
      <!-- checking for errors for duration -->
      <ion-item no-lines *ngIf="breastForm.get('duration').hasError('required')
        && breastForm.get('duration').touched">
        <div class="error">
          Duration is required.
        </div>
      </ion-item>

    </ion-list>
    <button ion-button class="baby-button" [disabled]="!breastForm.valid">Add</button>
  </form>
  <button ion-button class="baby-button" (click)="cancelModal()">Cancel</button>

</ion-content>
