page-feeding {
  .right-left-button {
    // border-radius: 20px;
    //font-size: 0.9em;
    border: 1px solid #fff;
    background-color: #42c7ff;
    // #39acdc;111
  }
  ion-title {
    text-align: center;
  }
}
