<ion-header>
  <ion-navbar no-border-bottom color="navbarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Home </ion-title>
  </ion-navbar>

  <!-- SEGMENT BEGINS -->
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segmentType">
      <ion-segment-button value="Activities">
        Activities
      </ion-segment-button>
      <ion-segment-button value="Charts">
        Charts
      </ion-segment-button>
      <ion-segment-button value="Gallery">
        Gallery
      </ion-segment-button>
      <ion-segment-button value="Chats">
        Chats
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content no-border-top>

  <!-- This is where you can do individual things inside the segments -->
  <div [ngSwitch]="segmentType">

    <ion-list *ngSwitchCase="'Activities'">
      <!-- <ion-icon name="custom-diaper"></ion-icon> -->

      <!-- <p class="center"><u> Summary </u></p> -->
      <div class="bottle-summary">

        <div *ngIf="noHistoryYet">
          <div class="divider-title"> No History Yet! </div>
        </div>

        <div *ngIf="hasToday">
          <div class="divider-title"> Today </div>

          <div  class="timeline" *ngFor="let x of todayHistoryArray">
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='bottlefeeding'">
                <p><b>Bottlefeed</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='breastfeeding'">
                <p><b>Breastfeed</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='meal'">
                <p><b>Meal</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='diapering'">
                <p><b>Diaper</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='sleeping'">
                <p><b>Sleep</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
          </div>
        </div>
        <!-- </div> -->

        <br>
        <div *ngIf="hasYesterday">
          <div class="divider-title"> Yesterday </div>

          <div  class="timeline" *ngFor="let x of yesterdayHistoryArray">
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='bottlefeeding'">
                <p><b>Bottlefeed</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='breastfeeding'">
                <p><b>Breastfeed</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='meal'">
                <p><b>Meal</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='diapering'">
                <p><b>Diaper</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="x.activity=='sleeping'">
                <p><b>Sleep</b></p>
                <p item right> {{x.output}} </p>
                <p *ngIf="x.note">Notes: {{x.note}} </p>
              </ion-item>
            </ul>
          </div>
        </div>

      </div>

      <br>
      <div *ngIf="hasMore">
        <ion-item-group *ngFor="let x of moreHistoryArray | groupby: 'date'">
          <div  class="divider-title">
            {{ x.key | moment:'ll' }}
          </div>
          <div  class="timeline" *ngFor="let event of x.list">
            <ul>
              <ion-item class="summary" *ngIf="event.activity=='bottlefeeding'">
                <p><b>Bottlefeed</b></p>
                <p item right> {{event.output}} </p>
                <p *ngIf="x.note">Notes: {{event.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="event.activity=='breastfeeding'">
                <p><b>Breastfeed</b></p>
                <p item right> {{event.output}} </p>
                <p *ngIf="x.note">Notes: {{event.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="event.activity=='meal'">
                <p><b>Meal</b></p>
                <p item right> {{event.output}} </p>
                <p *ngIf="x.note">Notes: {{event.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="event.activity=='diapering'">
                <p><b>Diaper</b></p>
                <p item right> {{event.output}} </p>
                <p *ngIf="x.note">Notes: {{event.note}} </p>
              </ion-item>
            </ul>
            <ul>
              <ion-item class="summary" *ngIf="event.activity=='sleeping'">
                <p><b>Sleep</b></p>
                <p item right> {{event.output}} </p>
                <p *ngIf="x.note">Notes: {{event.note}} </p>
              </ion-item>
            </ul>
          </div>
        </ion-item-group>
      </div>

      <!-- FOOTER -->
      <ion-footer>
        <strong style="color:#e1e1e1;font-size:7;"> Add an activity by clicking on any icon below: </strong>
        <ion-scroll scrollX="true">
          <div class="scroll-item" *ngFor="let activity of segments['Activities']">
            <ion-icon [name]="activity.icon" (click)="openPage(activity)" class="scroll-item selectable-icon avatar"></ion-icon>
          </div>
        </ion-scroll>
      </ion-footer>

    </ion-list>

    <!-- Segments -->
    <ion-list *ngSwitchCase="'Charts'">
      <p> do something here 2 </p>
    </ion-list>

    <ion-list *ngSwitchCase="'Gallery'">
      <p> do something here 3 </p>
    </ion-list>

    <ion-list *ngSwitchCase="'Chats'">
      <p> do something here 4 </p>
    </ion-list>

  </div>

</ion-content>
