<ion-header>
  <ion-navbar no-border-bottom color="navbarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Home </ion-title>
  </ion-navbar>

  <!-- SEGMENT BEGINS -->
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segmentType">
      <ion-segment-button value="Activities">
        Activities
      </ion-segment-button>
      <ion-segment-button value="Charts">
        Charts
      </ion-segment-button>
      <ion-segment-button value="Gallery">
        Gallery
      </ion-segment-button>
      <ion-segment-button value="Chats">
        Chats
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content no-border-top>

  <!-- <ion-list >
    <ion-list-header class="float-left">Latest Events:</ion-list-header>
    <ion-item>
      something ehre
    </ion-item>
    <ion-item no-lines *ngFor="let activity of segments['Activities']">
      sdafdasfs
      <ion-icon [name]="activity.icon" (click)="openPage(activity)"></ion-icon>
    </ion-item>
  </ion-list> -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <div class="left-scrollbar">
          <ion-item *ngFor="let activity of segments['Activities']">
            <ion-icon [name]="activity.icon" item-left (click)="openPage(activity)"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        Latest Events:
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-footer>
    <strong style="color:#e1e1e1;font-size:7;"> Add an activity by clicking on any icon below: </strong>
    <ion-scroll scrollX="true" scrollY="false">
      <p *ngFor="let activity of segments['Activities']">
        <ion-icon class="avatar" [name]="activity.icon" (click)="openPage(activity)"></ion-icon>
      </p>
    </ion-scroll>
  </ion-footer>

</ion-content>
