<ion-header>

  <ion-navbar>
    <ion-title *ngIf="addBabyFlag">Add New Baby Information</ion-title>
    <ion-title *ngIf="!addBabyFlag">Baby Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="text-align:center" *ngIf="!addBabyFlag">
    <p> Thank you for using this app! <br>
      Tell us about your baby to get started.
  </div>

  <form novalidate class="list-form" (ngSubmit)="setBabyInfo()" [formGroup]="babyInfoForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <!-- checking for errors for firstName -->
      <ion-item no-lines *ngIf="babyInfoForm.get('firstName').hasError('required')
        && babyInfoForm.get('firstName').touched">
        <div class="error">
          First Name is required.
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <!-- checking for errors for lastName -->
      <ion-item no-lines *ngIf="babyInfoForm.get('lastName').hasError('required')
        && babyInfoForm.get('lastName').touched">
        <div class="error">
          Last Name is required.
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Birthday</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthday"></ion-datetime>
      </ion-item>
      <!-- checking for errors for lastName -->
      <ion-item no-lines *ngIf="babyInfoForm.get('birthday').hasError('required')
        && babyInfoForm.get('birthday').touched">
        <div class="error">
          Birthday is required.
        </div>
      </ion-item>

      <ion-item>
        <ion-label >Gender</ion-label>
        <ion-select [(ngModel)]="gender" formControlName="gender" interface="popover">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <button ion-button *ngIf="!addBabyFlag" class="baby-button" [disabled]="!babyInfoForm.valid">Create Baby Profile</button>
    <button ion-button *ngIf="addBabyFlag" class="baby-button" [disabled]="!babyInfoForm.valid">Create New Baby Profile</button>
  </form>
  <!-- <button ion-button *ngIf="!addBabyFlag" class="baby-button" (click)="cancelModal()">Do Later</button> -->
  <button ion-button *ngIf="addBabyFlag" class="baby-button" (click)="cancelModal()">Cancel</button>

</ion-content>
