<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <!-- <ion-item no-lines style="background-color:transparent; align:center;"> -->
      <div id="imgwrap" *ngIf="user.picture">
        <img src="{{user.picture}}">
          <h2> 1 year old 4 months </h2>
      </div>
      <!-- </ion-item> -->
      <p align="right" style="font-size:10px;color:gray">
          Logged-in as: {{auth.getEmail()}}
      </p>
    </ion-toolbar>
  </ion-header>

  <ion-content scrollbar-y-auto>
    <ion-list>
      <ion-item no-lines *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
          {{p.title}}
      </ion-item>

      <ion-footer>
        <ion-item (click)="logout()">
	         <ion-icon name="log-out" item-left></ion-icon>
	          Log out
        </ion-item>
      </ion-footer>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
