<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-list *ngIf="auth.getEmail()">
        <br>
        {{auth.getEmail()}}
      </ion-list>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
          {{p.title}}
      </ion-item>

      <ion-footer>
        <ion-item (click)="logout()">
	         <ion-icon name="log-out" item-left></ion-icon>
	          Log out
        </ion-item>
      </ion-footer>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
