<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <br>
      <div id="imgwrap">
        <img src="assets/icon/baby-with-diaper.png" style="width:80px;height:80px;">
          <!-- For ages less than 1 -->
          <h2 *ngIf="bdayYear < 1 && bdayMonth <= 1; else months">
            {{babyName}} <br> {{bdayMonth}} month old
          </h2>
          <ng-template #months>
            <h2 *ngIf="bdayYear < 1 && bdayMonth > 1; else year">
              {{babyName}} <br> {{bdayMonth}} months old
            </h2>
          </ng-template>
          <!-- Ages 1 or higher -->
          <ng-template #year>
            <h2 *ngIf="bdayYear <= 1 && bdayMonth <= 1; else more">
              {{babyName}} <br> {{bdayYear}} year {{bdayMonth}} month old
            </h2>
          </ng-template>
          <ng-template #more>
            <h2 *ngIf="bdayYear > 1 && bdayMonth > 1; else month">
              {{babyName}} <br> {{bdayYear}} years {{bdayMonth}} months old
            </h2>
          </ng-template>
          <ng-template #month>
            <h2 *ngIf="bdayYear <= 1 && bdayMonth > 1; else years">
              {{babyName}} <br> {{bdayYear}} year {{bdayMonth}} months old
            </h2>
          </ng-template>
          <ng-template #years>
            <h2> {{babyName}} <br> {{bdayYear}} years {{bdayMonth}} month old </h2>
          </ng-template>
      </div>
      <!-- <ng-template #dummy>
        <div id="imgwrap" #dummy>
          <img src="assets/icon/baby-with-diaper.png" style="width:80px;height:80px;">
            <h5> 1 year old 4 months </h5>
          </div>
      </ng-template> -->
      <p align="right" style="font-size:10px;color:gray">
          Logged-in as: {{auth.getEmail()}}
      </p>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item no-lines *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
          {{p.title}}
      </ion-item>

    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-item (click)="logout()">
       <ion-icon name="log-out" item-left></ion-icon>
        Log out
    </ion-item>
  </ion-footer>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
