<ion-header>

  <ion-navbar>
    <ion-title>Baby Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form novalidate class="list-form" (ngSubmit)="setBabyInfo()" [formGroup]="babyInfoForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <!-- checking for errors for firstName -->
      <ion-item no-lines *ngIf="babyInfoForm.get('firstName').hasError('required')
        && babyInfoForm.get('firstName').touched">
        <div class="error">
          First Name is required.
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <!-- checking for errors for lastName -->
      <ion-item no-lines *ngIf="babyInfoForm.get('lastName').hasError('required')
        && babyInfoForm.get('lastName').touched">
        <div class="error">
          Last Name is required.
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Birthday</ion-label>
        <ion-datetime class="item-datetime" displayFormat="MM/DD/YYYY" formControlName="birthday"></ion-datetime>
      </ion-item>
      <!-- checking for errors for lastName -->
      <ion-item no-lines *ngIf="babyInfoForm.get('birthday').hasError('required')
        && babyInfoForm.get('birthday').touched">
        <div class="error">
          Birthday is required.
        </div>
      </ion-item>

      <ion-item>
        <ion-label >Gender</ion-label>
        <ion-select [(ngModel)]="gender" formControlName="gender" interface="popover">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <button ion-button class="baby-button" [disabled]="!babyInfoForm.valid">Save Baby Profile</button>
  </form>
  <button ion-button class="baby-button" (click)="cancelModal()">Cancel</button>

</ion-content>
