<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!edit">Manually Add Sleep</ion-title>
    <ion-title *ngIf="edit">Edit Sleep</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="list-form" (ngSubmit)="manuallyAddSleeping()">
    <ion-list>

      <ion-item>
        <ion-label>Date (start):</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2015" [(ngModel)]="sleeping.dateStart" name="dateStart"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Time (start):</ion-label>
        <ion-datetime displayFormat="hh:mm:ss A" [(ngModel)]="sleeping.timeStart" name="timeStart"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Date (end):</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2015" [(ngModel)]="sleeping.dateEnd" name="dateEnd"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Time (end):</ion-label>
        <ion-datetime displayFormat="hh:mm:ss A" [(ngModel)]="sleeping.timeEnd" name="timeEnd"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label color="gray!important">Note:</ion-label>
          <p item-right (click)="noteAlert()">
            <ion-icon name="clipboard"></ion-icon>
            <ion-icon *ngIf="sleepingNote" color="green" name="checkmark"></ion-icon>
          </p>
      </ion-item>

    </ion-list>
    <button *ngIf="!edit" ion-button class="baby-button" type="submit">Add</button>
    <button *ngIf="edit" ion-button class="baby-button" type="submit">Submit</button>
  </form>
  <button ion-button class="baby-button" (click)="cancelSleepingModal()">Cancel</button>

</ion-content>
